<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.chandrayya.editorstatusbar"
               label="Editor Status Bar">
            <control
                  class="com.chandrayya.editor.info.EditorStatusInfoControlContribution"
                  id="com.chandrayya.editor.info.EditorStatusInfoControlContribution">
            </control>
         </toolbar>         
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=closeAll">  
        <separator
            name="com.chandrayya.menus.separator1"
            visible="true">
    	</separator>     
         <menu
               id="recentFilesMenu"
               label="Recent Files">
            <command
                  commandId="com.chandrayya.editor.info.commands.recentFiles"
                  label="Recent Files"
                  style="push"
                  tooltip="Show Recent Files">
            </command>
         </menu>
      </menuContribution>
      <menuContribution            
            locationURI="popup:#TextEditorContext?after=additions">              
        <separator
            name="com.chandrayya.menus.separator1"
            visible="true">
    	</separator>  
    	 <command
                  commandId="com.chandrayya.editor.info.commands.insertdatetime"
                  label="Insert DateTime"
                  style="push"
                  tooltip="Insert date and time at cursor">
         </command>        
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.chandrayya.editor.info.commands.insertdatetime"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M1+D">
      </key>  
   </extension>   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.chandrayya.editor.info.commands.RecentFilesHandler"
            id="com.chandrayya.editor.info.commands.recentFiles"
            name="Recent Files">
      </command>
      <command
            defaultHandler="com.chandrayya.editor.info.commands.InsertDateTimeHandler"
            id="com.chandrayya.editor.info.commands.insertdatetime"
            name="Insert DateTime">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
          <page
			class="com.chandrayya.editor.info.preferences.ChandrayyaPluginsPreferencePage"
			id="com.chandrayya.editor.info.preferences.ChandrayyaPluginsPreferencePage"
			name="Chandrayya Plugins">
		  </page>
   </extension>   
</plugin>
